# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

eggs/

.eggs/

*.egg-info/

__pycache__/

build/

dist/

*.so

rvlib/_rmath_ffi.py
